.poke-list {
  display: inline-block;
  border-right: 1px solid white;
}

.poke-list ul {
  list-style: none;
  width: 200px;
}

.poke-list img {
  width: 20px;
  height: 20px;
  padding-right: 10px;
  vertical-align: middle;
}

.poke-list-item {
  display: flex;
  justify-content: flex-start;
}

.poke-list-number {
  display: flex;
  justify-content: flex-end;
  width: 40px;
  padding-right: 10px;
}

.poke-list li {
  display: flex;
  justify-content: flex-start;
  align-content: center;
  align-items: center;

  margin: 0px, 0px;

  border-top: 1px solid gray;
  /*border-top: 1px solid gray;*/
}

.poke-list li:first-of-type {
  /*border-top: 1px solid gray;*/
}

.poke-list li:last-of-type {
  border-bottom: 2px solid gray;
}

.poke-list li:hover + li {
  border-top: 0;
}

.poke-list li:hover {
  border-bottom: 1px solid gray;
  color: white;
  border-color: white;
}

.poke-list p {
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.poke-list p:first-of-type {
  padding-left: 10px;
}
